.footer_container{
    background-color: var(--colorOrange);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2em 0;
    min-height: 50vh;
}
.effctCard{
    width: 10em;
}
.footer_title h2{
    font-family:var(--fontStick);
    font-size: 2.4em;
    color: white;
}

.redes ul{
    font-family: var(--fontRecursive);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.redes li{
    padding: 20px;
}

@media screen and (min-width: 820px){
.redes ul {
    flex-direction: row;
}
}