.stacks_flex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  
   
}

.stacks_flex svg{
    object-fit: contain;
    width: 4em;
    padding: 10px;
}

.stacks_flex div:not(.infoStack){
  position: relative;
  display: flex;
    justify-content: center;
}

.infoStack{
    position: absolute;
    bottom: -20px;
    color: black;
    font-family: var(--fontRecursive);
    font-weight: bold;
    padding: 2px 15px;
    text-align: center;
    background-color: var(--colorOrange);
    
}

.infoStack{
    opacity: 0;
    transition: 0.6s;
    animation: 0.6s stackclose;
    z-index: -1;
}

.stacks_flex div:hover .infoStack{
    opacity: 1;
    animation: 0.6s stackshow;
    z-index: 1;
}

@keyframes stackshow {
    0%{
       transform: scale(0%);
    }
    100%{
      
        transform: scale(100%);
    }
}

@keyframes stackclose {
    0%{
       transform: scale(100%);
    }
    100%{
      
        transform: scale(0%);
    }
}

