

p{
  color: white;
  font-family: var(--fontblinker);
  font-size: 1em;
}

.about{
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.title{
  font-family: var(--fontStick);
  font-size: 2.8em;
  color: var(--colorOrange);

}

.info{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 40%;
}

.info div{
  display: flex;
  flex-direction: column;
  font-size: 1em;
  gap: 2vh;
  
}

.info span{
  color: var(--colorOrange);
  font-weight: bold;
}


.project_title{
  font-family: var(--fontStick);
  font-size: 2.4em;
  background-color: var(--colorOrange);
  text-align: center;
  padding: 10px;
}

.project_showcase{
background: rgb(236, 236, 236);
background-size: cover;
font-family: var(--fontblinker);
}


.project_showcase p{
  color: black;
  font-family: var(--fontblinker);
}


.project_showcase:nth-child(2n+1){
  background-color: black;
  color: white;
}

.project_showcase:nth-child(2n+1) button,
.project_showcase:nth-child(2n+1) a{
  background-color: white;
  color: black;
}

.project_showcase:nth-child(2n+1) p{
  color: white;
}

.project_showcase:nth-child(2n+1) .top_project{
  flex-direction: row-reverse;
}

.top_project{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}


.buttons button{
  color: white;
  background-color: black;
}

