

p{
  color: white;
  font-family: var(--fontblinker);
  font-size: 1em;
  line-height: 1.6em;
}

.about{
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.title{
  font-family: var(--fontStick);
  font-size: 2.8em;
  color: var(--colorOrange);

}

.info{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 40%;
}

.info div{
  display: flex;
  flex-direction: column;
  font-size: 1em;
  gap: 2vh;
  
}

.info span{
  color: var(--colorOrange);
  font-weight: bold;
}


.project_title{
  font-family: var(--fontStick);
  font-size: 2.4em;
  background-color: var(--colorOrange);
  text-align: center;
  padding: 10px;
}

.project_showcase{
background: rgb(236, 236, 236);
background-size: cover;
font-family: var(--fontblinker);
display: flex;
flex-direction: column;
justify-content: space-evenly;
padding: 10px;
}


.project_showcase p{
  color: black;
  font-family: var(--fontblinker);

}


.project_showcase:nth-child(2n+1){
  background-color: black;
  color: white;
}

.project_showcase:nth-child(2n+1) button{
  background-color: white;
  color: black;
}



.project_showcase:nth-child(2n+1) p{
  color: white;
}


.project_showcase:nth-child(2n+1) .top_project{
  flex-direction: row-reverse;
}


.project_showcase:nth-child(2n+1) .stacks_project{
  flex-direction: row-reverse;
}

.top_project{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.buttons button{
  color: white;
  background-color: black;
  cursor: pointer;
}



.top_project{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.description_project{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 0 20px;
   width: 35em;
}

.description_project h2{
  font-size: 2em;
}

.description_project p{
  font-weight: 600;
 
}

.img_project{
  padding: 20px;
}

.img_project img{
width: 100%;

}

.stacks_project{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 10px 10px;
}


.stacks_project button{
  font-family: var(--fontblinker);
  font-weight: bold;
  font-size: 1.1em;
  letter-spacing: 2px;
  padding: 15px 30px;
  margin-right: 10px;
  border-radius: 5px;
  min-width: 120px;
  border: none;
  
}

.stacks_project button a{
 text-decoration: none;
  color: white;
}


@media screen and (min-width: 820px){
  p{
    color: white;
    font-family: var(--fontblinker);
    font-size: 1.2em;
  }



  .title{
    font-size: 3.5em;
  }

  .description_project h2{
    font-size: 2.2em;
  }

}