

p{
  color: white;
  font-family: var(--fontblinker);
  font-size: 1em;
}

.about{
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.title{
  font-family: var(--fontStick);
  font-size: 2.8em;
  color: var(--colorOrange);

}

.info{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 40%;
}

.info div{
  display: flex;
  flex-direction: column;
  font-size: 1em;
  gap: 2vh;
  
}

.info span{
  color: var(--colorOrange);
  font-weight: bold;
}